/* *{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: 0;
    list-style: 0;
    box-sizing: border-box;
    
}

:root{
    --color-primary: #edf2fc;
    --color-secondary: #212121;
}

.dark-theme{
    --color-primary : #000106;
    --color-secondary : #fff
}

body{
    display: flex;
    justify-content: center;
    padding: 8rem;
    background-color: rgb(85, 82, 82);
    
}

input {
    width: 100%;
    padding: 1rem;
    background-color: var(--color-primary);
}

h3 {
    display: flex;
    justify-content: center;
    padding: 1rem;
} */